body {
    background-color: black;
}

h1 {
    font-weight: bold;
    color: purple;
    display: inline-flex;
}

p{
    color: green;
    font-style: italic;
    font-display: inherit;
}

.container {
    display: flex;
    height: 100%;
    margin: 15px;
}

.container > div:nth-child(1) {
    flex: 1;
    justify-content: center left;
}

.container > div:nth-child(2) {
    flex: 3;
    justify-content: center right;
}